[submodule "external/libgpiod_event_demo"]
	path = external/libgpiod_event_demo
	url = https://github.com/berndporr/libgpiod_event_demo.git

[submodule "external/libcamera2opencv"]
	path = external/libcamera2opencv
	url = https://github.com/berndporr/libcamera2opencv.git

